.testimonials .title {
  margin: 0;
}

.testimonials.no-heading .title {
  display: none;
}

.testimonials .title-wrapper-with-link {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .testimonials .title-wrapper-with-link {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .testimonials__title {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 989px) {
  .testimonials .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.testimonials-card__image-wrapper--third-width {
  width: 33%;
}

.testimonials-card__image-wrapper--half-width {
  width: 50%;
}

.testimonials-list__item.center .testimonials-card__image-wrapper:not(.testimonials-card__image-wrapper--full-width),
.testimonials-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.testimonials .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .testimonials .button {
    margin-top: 4rem;
  }
}

.testimonials-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.testimonials-list__item:only-child {
  max-width: 72rem;
}

.testimonials-list__item--empty {
  display: none;
}

.testimonials:not(.background-none) .testimonials-card {
  background: rgb(var(--color-background));
  height: 100%;
}

.testimonials.background-primary .testimonials-card {
  background: rgb(var(--color-background))
    linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04));
}

.testimonials-list h3 {
  line-height: calc(1 + 0.5 / max(1, var(--font-heading-scale)));
}

.testimonials-list h3,
.testimonials-list p {
  margin: 0;
}

.testimonials-card-spacing {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.testimonials-card__info > :nth-child(2) {
  margin-top: 3rem;
}

.testimonials-card__info>:nth-child(4) {
    margin-top: 3rem;
}

.testimonials-list__item.center .media--adapt,
.testimonials-list__item .media--adapt .testimonials-card__image {
  width: auto;
}

.testimonials-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
  .testimonials-list {
    margin: 0;
    width: 100%;
  }

  .testimonials-list:not(.slider),
  .testimonials-list.contains-content-container.slider {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .testimonials-list:not(.slider) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 750px) {
  .testimonials-list.slider {
    padding: 0;
  }

  .testimonials-list__item,
  .grid--4-col-desktop .testimonials-list__item {
    padding-bottom: 0;
  }

  .background-none .grid--2-col-tablet .testimonials-list__item {
    margin-top: 4rem;
  }
}

.background-none .testimonials-card-spacing {
  padding: 0;
  margin: 0;
}

.testimonials-card__info {
  padding: 2.5rem;
}

.background-none .testimonials-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .testimonials-card__info {
  padding-bottom: 0;
}

.background-none .testimonials-card__image-wrapper + .testimonials-card__info {
  padding-top: 2.5rem;
}

.background-none .slider .testimonials-card__info {
  padding-left: 0.5rem;
}

.background-none .slider .testimonials-card__image-wrapper + .testimonials-card__info {
  padding-left: 1.5rem;
}

.background-none .testimonials-list:not(.slider) .center .testimonials-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .testimonials-card__info {
    padding-bottom: 1rem;
  }

  .testimonials.background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 750px) {
  .background-none .testimonials-card__image-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .background-none .testimonials-list .testimonials-card__info,
  .background-none .testimonials-list:not(.slider) .center .testimonials-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.testimonials-card {
  position: relative;
  box-sizing: border-box;
}

.testimonials-card > .testimonials-card__image-wrapper--full-width:not(.testimonials-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

.testimonials.background-none .testimonials-card {
  border-radius: 0;
}

.testimonials-card__info .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.testimonials-card__info .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}

@media screen and (min-width: 990px) {
  .testimonials-list__item--empty {
    display: list-item;
  }
}

.rating{
  display:flex;
  align-items:center;
}

.rating.center {
    justify-content: center;
}


.reviewer{
  display:flex;
  align-items:center;
}
.reviewer.center{
  justify-content: center;
}
.reviewer__img{
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  object-fit:cover;
}

.reviewer__avatar{
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
